    @font-face{
        font-family:"Bree Serif W01 Thin";
        src:url("Fonts/1286937/9a8fa261-b09b-4713-841b-d17414d7b5a8.eot?#iefix");
        src:url("Fonts/1286937/9a8fa261-b09b-4713-841b-d17414d7b5a8.eot?#iefix") format("eot"),url("Fonts/1286937/d233d885-5083-4b63-945f-42682de093de.woff2") format("woff2"),url("Fonts/1286937/ecfe9a84-c965-483a-900c-cfb264fcca0e.woff") format("woff"),url("Fonts/1286937/bba6980f-478a-4120-bf47-88db24c28bd1.ttf") format("truetype");
    }
