.page-account {
	td {
		&.downloads {
			max-width: 100px;
		}
		
		ul {
			&.download-products-list {
				list-style:   none;
				padding-left: 0;
				margin:       0;
				
				li {
					padding-bottom: 10px;
					
					span {
						&.download-info {
							display: block;
							padding: 6px 0;
						}
					}
				}
			}
		}
	}
}