$gx-body-wrap: false;
$gx-topbar-wrap: true;
$gx-categories-wrap: true;
$gx-center-categories: false;
$gx-header-fixed: true;
$gx-header-wrap: true;
$gx-stage-wrap: false;
$gx-footer-wrap: true;
$gx-logo-horizontal: true;
$gx-stage-below-header: false;
$gx-body-padding-top: 0;
$gx-body-padding-bottom: 0;
$gx-breadcrumb-color: #999999;
$gx-body-bg-image-position: 50% 50%;
$gx-body-bg-image-repeat: no-repeat;
$gx-body-bg-image-size: auto;
$gx-body-bg-image-attachment: scroll;
$gx-wrapper-bg: #ffffff;
$gx-wrapper-bg-image-position: 50% 50%;
$gx-wrapper-bg-image-repeat: no-repeat;
$gx-wrapper-bg-image-size: auto;
$gx-wrapper-bg-image-attachment: scroll;
$gx-font-import-url: "https://fonts.googleapis.com/css?family=Roboto:400,700,300,900";
$gx-table-headline-color: #999999;
$gx-table-body-color-even: $text-color;
$gx-table-body-color-odd: $text-color;
$gx-table-border-color: #e7e7e7;
$gx-table-even-row-bg: transparent;
$gx-table-odd-row-bg: #f9f9f9;
$gx-table-bg: transparent;
$gx-table-bg-image-position: 50% 50%;
$gx-table-bg-image-repeat: no-repeat;
$gx-table-bg-image-size: auto;
$gx-table-bg-image-attachment: scroll;
$gx-wrapper-border-radius: 0;
$gx-cat-navbar-border-radius: 0;
$gx-cart-border-radius: 0;
$gx-display-teaser-slider-xs: true;
$gx-display-teaser-slider-sm: true;
$gx-display-teaser-slider-md: true;
$gx-display-teaser-slider-lg: true;
$gx-pageup-align-left: false;
$gx-pageup-vertical-space-bottom: 25px;
$gx-btn-border-radius: 0px;
$gx-btn-text-transform: uppercase;
$gx-btn-primary-color: $btn-primary-color;
$gx-btn-primary-bg: $btn-primary-bg;
$gx-btn-primary-border: $btn-primary-border;
$gx-btn-primary-bg-image-position: 50% 50%;
$gx-btn-primary-bg-image-repeat: no-repeat;
$gx-btn-primary-bg-image-size: auto;
$gx-btn-primary-bg-image-attachment: scroll;
$gx-btn-default-color: $btn-default-color;
$gx-btn-default-bg: $btn-default-bg;
$gx-btn-default-border: $btn-default-border;
$gx-btn-default-bg-image-position: 50% 50%;
$gx-btn-default-bg-image-repeat: no-repeat;
$gx-btn-default-bg-image-size: auto;
$gx-btn-default-bg-image-attachment: scroll;
$gx-btn-calltoaction-color: #ffffff;
$gx-btn-calltoaction-bg: #2eae06;
$gx-btn-calltoaction-border: darken($gx-btn-calltoaction-bg, 5%);
$gx-btn-calltoaction-bg-image-position: 50% 50%;
$gx-btn-calltoaction-bg-image-repeat: no-repeat;
$gx-btn-calltoaction-bg-image-size: auto;
$gx-btn-calltoaction-bg-image-attachment: scroll;
$gx-headline-border-color: #e7e7e7;
$gx-footer-boxes-border-color: #bbbbbb;
$gx-checkout-headline-border-color: $brand-primary;
$gx-pagination-border-color: #e7e7e7;
$gx-product-list-border-color: #eeeeee;
$gx-product-info-border-color: darken($gray-lighter, 10%);
$gx-alert-danger-color: $alert-danger-text;
$gx-alert-success-color: $alert-success-text;
$gx-alert-info-color: $alert-info-text;
$gx-alert-danger-border: $alert-danger-border;
$gx-alert-success-border: $alert-success-border;
$gx-alert-info-border: $alert-info-border;
$gx-alert-danger-bg: $alert-danger-bg;
$gx-alert-danger-bg-image-position: 50% 50%;
$gx-alert-danger-bg-image-repeat: no-repeat;
$gx-alert-danger-bg-image-size: auto;
$gx-alert-danger-bg-image-attachment: scroll;
$gx-alert-success-bg: $alert-success-bg;
$gx-alert-success-bg-image-position: 50% 50%;
$gx-alert-success-bg-image-repeat: no-repeat;
$gx-alert-success-bg-image-size: auto;
$gx-alert-success-bg-image-attachment: scroll;
$gx-alert-info-bg: $alert-info-bg;
$gx-alert-info-bg-image-position: 50% 50%;
$gx-alert-info-bg-image-repeat: no-repeat;
$gx-alert-info-bg-image-size: auto;
$gx-alert-info-bg-image-attachment: scroll;
$gx-header-bg: #ffffff;
$gx-header-bg-image-position: 50% 50%;
$gx-header-bg-image-repeat: no-repeat;
$gx-header-bg-image-size: auto;
$gx-header-bg-image-attachment: scroll;
$gx-header-bg-mobile: #ffffff;
$gx-header-bg-mobile-image-position: 50% 50%;
$gx-header-bg-mobile-image-repeat: no-repeat;
$gx-header-bg-mobile-image-size: auto;
$gx-header-bg-mobile-image-attachment: scroll;
$gx-header-bg-sticky: #ffffff;
$gx-header-bg-sticky-image-position: 50% 50%;
$gx-header-bg-sticky-image-repeat: no-repeat;
$gx-header-bg-sticky-image-size: auto;
$gx-header-bg-sticky-image-attachment: scroll;
$gx-header-height: 150px;
$gx-header-height-mobile: 50px;
$gx-header-height-sticky: 60px;
$gx-hide-logo-col: false;
$gx-header-col-sm: 3;
$gx-header-col-md: 3;
$gx-header-col-lg: 3;
$gx-brand-width: 180px;
$gx-brand-width-mobile: 100px;
$gx-brand-width-sticky: 180px;
$gx-brand-height: 80px;
$gx-brand-height-sticky: 60px;
$gx-show-search-top-nav: false;
$gx-hide-search-col: false;
$gx-search-height: 80px;
$gx-search-height-sticky: 60px;
$gx-search-padding-vertical: 22px;
$gx-search-padding-vertical-sticky: 12px;
$gx-search-margin-vertical: 0;
$gx-search-margin-vertical-sticky: 0;
$gx-search-col-sm: 5;
$gx-search-col-md: 4;
$gx-search-col-lg: 4;
$gx-hide-custom-1-col: false;
$gx-custom-1-col-height: 80px;
$gx-custom-1-col-height-sticky: 60px;
$gx-header-custom-col-sm: 0;
$gx-header-custom-col-md: 2;
$gx-header-custom-col-lg: 3;
$gx-hide-cart-col: false;
$gx-cart-icon-color: #333333;
$gx-cart-sticky-icon-color: #333333;
$gx-cart-text-color: #333333;
$gx-cart-sticky-text-color: #333333;
$gx-cart-height: 60px;
$gx-cart-height-sticky: 60px;
$gx-cart-padding-vertical: 13px;
$gx-cart-padding-vertical-sticky: 10px;
$gx-cart-margin-vertical: 10px;
$gx-cart-margin-vertical-sticky: 0;
$gx-cart-col-sm: 4;
$gx-cart-col-md: 3;
$gx-cart-col-lg: 2;
$gx-categories-height: $navbar-height;
$gx-categories-height-sticky: 0;
$gx-categories-transitions: false;
$gx-cat-navbar-bg-image-position: 50% 50%;
$gx-cat-navbar-bg-image-repeat: no-repeat;
$gx-cat-navbar-bg-image-size: auto;
$gx-cat-navbar-bg-image-attachment: scroll;
$gx-categories-bg: transparent;
$gx-categories-text-transformation: uppercase;
$gx-categories-mobile-height: 50px;
$gx-categories-mobile-padding-vertical: 17px;
$gx-categories-mobile-dropdown-colors: true;
$gx-categories-mobile-icons: true;
$gx-megadropdown-heading-font-size: 18px;
$gx-megadropdown-color: $text-color;
$gx-megadropdown-heading-border-color: #ffffff;
$gx-megadropdown-block-width: 225px;
$gx-megadropdown-block-count: 3;
$gx-categories-tab-padding: 2px;
$gx-megadropdown-bg: #ffffff;
$gx-megadropdown-bg-image-position: 50% 50%;
$gx-megadropdown-bg-image-repeat: no-repeat;
$gx-megadropdown-bg-image-size: auto;
$gx-megadropdown-bg-image-attachment: scroll;
$gx-topbar-height: 30px;
$gx-topbar-height-sticky: 0;
$gx-navbar-topbar-bg: #eeeeee;
$gx-navbar-topbar-bg-image-position: 50% 50%;
$gx-navbar-topbar-bg-image-repeat: no-repeat;
$gx-navbar-topbar-bg-image-size: auto;
$gx-navbar-topbar-bg-image-attachment: scroll;
$gx-navbar-topbar-link-color: #9f9f9f;
$gx-navbar-topbar-link-hover-color: #000000;
$gx-navbar-topbar-link-active-color: #000000;
$gx-navbar-topbar-link-bg: transparent;
$gx-navbar-topbar-link-bg-image-position: 50% 50%;
$gx-navbar-topbar-link-bg-image-repeat: no-repeat;
$gx-navbar-topbar-link-bg-image-size: auto;
$gx-navbar-topbar-link-bg-image-attachment: scroll;
$gx-navbar-topbar-link-hover-bg: #dddddd;
$gx-navbar-topbar-link-hover-bg-image-position: 50% 50%;
$gx-navbar-topbar-link-hover-bg-image-repeat: no-repeat;
$gx-navbar-topbar-link-hover-bg-image-size: auto;
$gx-navbar-topbar-link-hover-bg-image-attachment: scroll;
$gx-navbar-topbar-link-active-bg: #dddddd;
$gx-navbar-topbar-link-active-bg-image-position: 50% 50%;
$gx-navbar-topbar-link-active-bg-image-repeat: no-repeat;
$gx-navbar-topbar-link-active-bg-image-size: auto;
$gx-navbar-topbar-link-active-bg-image-attachment: scroll;
$gx-topbar-link-padding: 6px 15px;
$gx-dropdown-color: $text-color;
$gx-dropdown-info-color: #999999;
$gx-dropdown-footer-color: $text-color;
$gx-dropdown-disabled-color: #999999;
$gx-dropdown-border-color: #EEEEEE;
$gx-dropdown-bg: $dropdown-bg;
$gx-dropdown-bg-image-position: 50% 50%;
$gx-dropdown-bg-image-repeat: no-repeat;
$gx-dropdown-bg-image-size: auto;
$gx-dropdown-bg-image-attachment: scroll;
$gx-dropdown-footer-bg: #eeeeee;
$gx-dropdown-footer-bg-image-position: 50% 50%;
$gx-dropdown-footer-bg-image-repeat: no-repeat;
$gx-dropdown-footer-bg-image-size: auto;
$gx-dropdown-footer-bg-image-attachment: scroll;
$gx-dropdown-hover-bg: #eeeeee;
$gx-dropdown-hover-bg-image-position: 50% 50%;
$gx-dropdown-hover-bg-image-repeat: no-repeat;
$gx-dropdown-hover-bg-image-size: auto;
$gx-dropdown-hover-bg-image-attachment: scroll;
$gx-left-col-lg: 3;
$gx-right-col-lg: 0;
$gx-main-col-lg: 9;
$gx-left-col-md: 4;
$gx-right-col-md: 0;
$gx-main-col-md: 8;
$gx-left-col-sm: 4;
$gx-right-col-sm: 0;
$gx-main-col-sm: 8;
$gx-sub-cat-col-sm: 6;
$gx-sub-cat-col-md: 6;
$gx-sub-cat-col-lg: 6;
$gx-footer-header-min-height: 50px;
$gx-footer-header-color: $gx-footer-color;
$gx-footer-header-bg: #e7e7e7;
$gx-footer-header-bg-image-position: 50% 50%;
$gx-footer-header-bg-image-repeat: no-repeat;
$gx-footer-header-bg-image-size: auto;
$gx-footer-header-bg-image-attachment: scroll;
$gx-footer-min-height: 400px;
$gx-footer-color: #666666;
$gx-footer-link-color: #666666;
$gx-footer-line-height: 2.3;
$gx-footer-bg: #d1d1d1;
$gx-footer-bg-image-position: 50% 50%;
$gx-footer-bg-image-repeat: no-repeat;
$gx-footer-bg-image-size: auto;
$gx-footer-bg-image-attachment: scroll;
$gx-hide-footer-col-1: false;
$gx-footer-col-1-xs: 12;
$gx-footer-col-1-sm: 6;
$gx-footer-col-1-lg: 3;
$gx-hide-footer-col-2: false;
$gx-footer-col-2-xs: 12;
$gx-footer-col-2-sm: 6;
$gx-footer-col-2-lg: 3;
$gx-hide-footer-col-3: false;
$gx-footer-col-3-xs: 12;
$gx-footer-col-3-sm: 6;
$gx-footer-col-3-lg: 3;
$gx-hide-footer-col-4: false;
$gx-footer-col-4-xs: 12;
$gx-footer-col-4-sm: 6;
$gx-footer-col-4-lg: 3;
$gx-product-info-stage-height: 450px;
$gx-product-info-stage-height-mobile: 300px;
$gx-product-info-thumbnail-width: 200px;
$gx-product-info-thumbnail-width-mobile: 50px;
$gx-product-info-img-bg: transparent;
$gx-product-info-img-bg-image-position: 50% 50%;
$gx-product-info-img-bg-image-repeat: no-repeat;
$gx-product-info-img-bg-image-size: auto;
$gx-product-info-img-bg-image-attachment: scroll;
$gx-product-bg: #FFFFFF;
$gx-product-bg-image-position: 50% 50%;
$gx-product-bg-image-repeat: no-repeat;
$gx-product-bg-image-size: auto;
$gx-product-bg-image-attachment: scroll;
$gx-gallery-bg: #eeeeee;
$gx-gallery-bg-image-position: 50% 50%;
$gx-gallery-bg-image-repeat: no-repeat;
$gx-gallery-bg-image-size: auto;
$gx-gallery-bg-image-attachment: scroll;
$gx-product-listing-col-xs: 12;
$gx-product-listing-col-sm: 12;
$gx-product-listing-col-md: 3;
$gx-product-listing-col-lg: 3;
$gx-product-listing-height: 350px;
$gx-price-tax-position: $grid-gutter-width;
$gx-product-listing-image-height: 260px;
$gx-product-listing-gallery-image-height: 75px;
$gx-product-listing-gallery-width: 200px;
$gx-product-info-details-bg: $gray-lighter;
$gx-product-info-details-bg-image-position: 50% 50%;
$gx-product-info-details-bg-image-repeat: no-repeat;
$gx-product-info-details-bg-image-size: auto;
$gx-product-info-details-bg-image-attachment: scroll;
$gx-product-info-details-color: $text-color;
$gx-product-info-details-note-color: $gray-light;
$gx-product-info-details-border-width: 0;
$gx-product-info-details-border-style: none;
$gx-product-info-details-border-color: transparent;
$gx-product-info-details-sticky: true;
$gx-tab-color: #CCCCCC;
$gx-tab-color-active: $text-color;
$gx-tab-border-color: transparent;
$gx-tab-border-color-active: #000000;
$gx-tab-container-border-color: #E7E7E7;
$gx-tab-bg: transparent;
$gx-tab-bg-image-position: 50% 50%;
$gx-tab-bg-image-repeat: no-repeat;
$gx-tab-bg-image-size: auto;
$gx-tab-bg-image-attachment: scroll;
$gx-tab-bg-active: #FFFFFF;
$gx-tab-bg-active-image-position: 50% 50%;
$gx-tab-bg-active-image-repeat: no-repeat;
$gx-tab-bg-active-image-size: auto;
$gx-tab-bg-active-image-attachment: scroll;
$gx-ribbon-new-bg: #515151;
$gx-ribbon-new-color: #ffffff;
$gx-ribbon-special-bg: #f1544d;
$gx-ribbon-special-color: #ffffff;
$gx-ribbon-available-bg: #79a70a;
$gx-ribbon-available-color: #ffffff;
$gx-ribbon-recommendation-bg: #337ab7;
$gx-ribbon-recommendation-color: #ffffff;
$gx-checkout-headline-color: $brand-primary;
$gx-cart-border-color: #e7e7e7;
$gx-cart-table-head-color: #999999;
$gx-cart-table-color: $text-color;
$gx-cart-table-info-color: $grey;
$gx-total-box-color: $text-color;
$gx-total-box-border-color: #e7e7e7;
$gx-total-box-top-bg: $gx-panel-bg;
$gx-total-box-top-bg-image-position: 50% 50%;
$gx-total-box-top-bg-image-repeat: no-repeat;
$gx-total-box-top-bg-image-size: auto;
$gx-total-box-top-bg-image-attachment: scroll;
$gx-total-box-bottom-bg: #eeeeee;
$gx-total-box-bottom-bg-image-position: 50% 50%;
$gx-total-box-bottom-bg-image-repeat: no-repeat;
$gx-total-box-bottom-bg-image-size: auto;
$gx-total-box-bottom-bg-image-attachment: scroll;
$gx-checkout-table-color: $text-color;
$gx-checkout-table-header-color: #999999;
$gx-checkout-table-additional-info-color: $gray;
$gx-checkout-table-border-color: #e7e7e7;
$gx-checkout-table-bg: #f3f3f3;
$gx-checkout-table-bg-image-position: 50% 50%;
$gx-checkout-table-bg-image-repeat: no-repeat;
$gx-checkout-table-bg-image-size: auto;
$gx-checkout-table-bg-image-attachment: scroll;
$gx-list-group-item-color: $text-color;
$gx-list-group-item-color-active: #FFFFFF;
$gx-list-group-item-link-color: $brand-primary;
$gx-list-group-item-link-color-active: #FFFFFF;
$gx-list-group-item-border-color: $gray-lighter;
$gx-list-group-item-border-color-active: $brand-primary;
$gx-list-group-item-bg: transparent;
$gx-list-group-item-bg-image-position: 50% 50%;
$gx-list-group-item-bg-image-repeat: no-repeat;
$gx-list-group-item-bg-image-size: auto;
$gx-list-group-item-bg-image-attachment: scroll;
$gx-list-group-item-bg-active: $brand-primary;
$gx-list-group-item-bg-active-image-position: 50% 50%;
$gx-list-group-item-bg-active-image-repeat: no-repeat;
$gx-list-group-item-bg-active-image-size: auto;
$gx-list-group-item-bg-active-image-attachment: scroll;
$gx-checkbox-color: $alert-warning-text;
$gx-checkbox-active-color: $alert-success-text;
$gx-checkbox-border: $alert-warning-border;
$gx-checkbox-active-border: $alert-success-border;
$gx-checkbox-bg: $alert-warning-bg;
$gx-checkbox-bg-image-position: 50% 50%;
$gx-checkbox-bg-image-repeat: no-repeat;
$gx-checkbox-bg-image-size: auto;
$gx-checkbox-bg-image-attachment: scroll;
$gx-checkbox-active-bg: $alert-success-bg;
$gx-checkbox-active-bg-image-position: 50% 50%;
$gx-checkbox-active-bg-image-repeat: no-repeat;
$gx-checkbox-active-bg-image-size: auto;
$gx-checkbox-active-bg-image-attachment: scroll;
$gx-panel-header-color: $text-color;
$gx-panel-header-bg: #f5f5f5;
$gx-panel-header-bg-image-position: 50% 50%;
$gx-panel-header-bg-image-repeat: no-repeat;
$gx-panel-header-bg-image-size: auto;
$gx-panel-header-bg-image-attachment: scroll;
$gx-panel-bg: #FFFFFF;
$gx-panel-border-color: #dddddd;
$gx-panel-bg-image-position: 50% 50%;
$gx-panel-bg-image-repeat: no-repeat;
$gx-panel-bg-image-size: auto;
$gx-panel-bg-image-attachment: scroll;
$gx-index-full-width: true;
$gx-advanced-search-result-full-width: false;
$gx-shop-content-full-width: false;
$gx-product-info-full-width: true;
$gx-product-listing-full-width: true;
$gx-shopping-cart-full-width: true;
$gx-checkout-full-width: true;
